/* Basic Reset: Applies these properties and values to all html elements. * is the universal selector. */
*,
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  max-width: 1280px;
}