/* Basic Reset: Applies these properties and values to all html elements. * is the universal selector. */
*,
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  max-width: 1280px;
}

form {
  margin: 20px;
}

.quote-list {
  list-style-type: none;
}

.quote-item {
  text-align: center;
  flex-basis: 33.33333333%;
  padding: 20px;
}

.quote-header {
  padding: 20px;
  padding-bottom: 0;
}