/* Basic Reset: Applies these properties and values to all html elements. * is the universal selector. */
*,
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}